:root
{
    --blanco: #ffffff; 
    --obscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gobierno: #9D2449;
    --mor:#AF272F;
}

@media screen and (max-width: 1024px) {
    body {
        background-color: var(--blanco);
    }
    .container {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-color: var(--blanco);
    }
    .container {
        width: 95%;
    }
    .menu {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: var(--blanco);
    }
    .container {
        max-width: 100%;
        padding: 10px;
    }
    .menu {
        display: none; 
    }
}



body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: var(--mor);
    color: white;
    padding: 2rem;
}

nav ul {
    display: flex;
    justify-content: center;
    background: var(--mor);
    padding: 2rem;
    list-style: none;
}

nav ul li {
    margin: 0 4rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 1rem;
}

section {
    flex: 1;
    padding: 4rem;
    background: #f4f4f4;
}

aside {
    flex: 1;
    padding: 4rem;
    background: #f4f4f4;
}

footer {
    position: relative;
    background: var(--mor);
    color: white;
    text-align: center;
    padding: 4rem 5rem 6rem;
    margin-top: auto;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.contacto-info {
    flex: 1;
    min-width: 20px;
    text-align: left;
}

.footer-bottom {
    flex: 1;
    background-color: var(--mor);
    padding: 10px;
    margin-top: 20px;
}

footer .icon-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    flex-wrap: wrap;
}
footer .icon-redes li {
    list-style: none;
}

footer .icon-redes li a {
    font-size: 6rem;
    color: var(--blanco);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .icon-redes li a:hover{
    transform: translateY(-10px);
}

.wave-container {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}

.wave-container svg {
    display: block;
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--mor);
    animation: waveAnimation 8s linear infinite;
}

@keyframes waveAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}


footer {
    position: relative;
    background: var(--mor);
    color: white;
    text-align: center;
    padding: 6rem 5rem 6rem;
    margin-top: 4rem; 
}


@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }
}